/* This lets the bar to transform into a 'X' when it is clicked. */
#hamburger.active .bar:nth-of-type(1) {
	transform: rotate(45deg) translateY(10px);
}
#hamburger.active .bar:nth-of-type(2) {
	display: none;
}
#hamburger.active .bar:nth-of-type(3) {
	transform: rotate(-45deg) translateX(-4px) translateY(-5px);
}